<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-theme-primary">
        {{ isEditPost ? "Edit" : "Add new" }} Post
      </h3>
      <p class="mb-5">
        {{
          isEditPost
            ? "You can edit your  post here"
            : "You can add your new post here"
        }}
      </p>
    </div>
  </div>
  <div *ngIf="postForm">
    <form [formGroup]="postForm" (ngSubmit)="handleSubmit()">
      <div class="row">
        <div class="col-md-7">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for="">Title</label>
                <input
                  (keyup)="handleTitleChanged($event)"
                  type="text"
                  name=""
                  formControlName="title"
                  [ngClass]="{
                    'is-invalid': fc['title'].touched && fc['title'].invalid
                  }"
                  class="form-control"
                />
                <div *ngIf="fc['title'].errors?.['required']">
                  <div
                    *ngIf="fc['title'].touched && fc['title'].invalid"
                    class="alert alert-danger"
                  >
                    Title is required
                  </div>
                </div>
                <div *ngIf="fc['title'].errors?.['minlength']">
                  <div
                    *ngIf="fc['title'].touched && fc['title'].invalid"
                    class="alert alert-danger"
                  >
                    Title must be at least 10 characters long
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Permalink</label>
                <input
                  [(ngModel)]="permalink"
                  type="text"
                  name="permalink"
                  class="form-control"
                  formControlName="permalink"
                  [ngClass]="{
                    'is-invalid':
                      fc['permalink'].touched && fc['permalink'].invalid
                  }"
                />
                <div *ngIf="fc['permalink'].errors?.['required']">
                  <div
                    *ngIf="fc['permalink'].touched && fc['permalink'].invalid"
                    class="alert alert-danger"
                  >
                    permalink is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Excerpt</label>
                <textarea
                  class="form-control"
                  name=""
                  cols="30"
                  rows="10"
                  formControlName="excerpt"
                  [ngClass]="{
                    'is-invalid': fc['excerpt'].touched && fc['excerpt'].invalid
                  }"
                ></textarea>
                <div *ngIf="fc['excerpt'].errors?.['required']">
                  <div
                    *ngIf="fc['excerpt'].touched && fc['excerpt'].invalid"
                    class="alert alert-danger"
                  >
                    Excerpt is required
                  </div>
                </div>
                <div *ngIf="fc['excerpt'].errors?.['minlength']">
                  <div
                    *ngIf="fc['excerpt'].touched && fc['excerpt'].invalid"
                    class="alert alert-danger"
                  >
                    Excerpt must be at least 50 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <label for="">Please Select a post category</label>

            <select
              formControlName="category"
              class="form-control"
              [ngClass]="{
                'is-invalid': fc['category'].touched && fc['category'].invalid
              }"
            >
              <option disabled>Please select a category</option>
              <option
                value="{{ data.id }}-{{ data.category.category }}"
                *ngFor="let data of categories | async"
              >
                {{ data.category.category }}
              </option>
            </select>

            <div *ngIf="fc?.['category']?.errors?.['required']">
              <div
                *ngIf="fc['category'].touched && fc['category'].invalid"
                class="alert alert-danger"
              >
                Please select a category
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Post Image</label>
            <img
              [src]="imgSrcPost"
              class="form-control img-fluid img-preview"
              alt=""
            />
            <input
              type="file"
              class="form-control"
              accept="image/*"
              formControlName="postImg"
              (change)="handleShowPreview($event)"
              [ngClass]="{
                'is-invalid': fc['postImg'].touched && fc['postImg'].invalid
              }"
            />
            <div *ngIf="fc['postImg'].errors?.['required']">
              <div
                *ngIf="fc['postImg'].touched && fc['postImg'].invalid"
                class="alert alert-danger"
              >
                Image is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-5">
        <div class="col-md-12">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for="">Content</label>
                <angular-editor
                  formControlName="content"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': fc['content'].touched && fc['content'].invalid
                  }"
                  [placeholder]="'Add your here...'"
                ></angular-editor>
                <div *ngIf="fc['content'].errors?.['required']">
                  <div
                    *ngIf="fc['content'].touched && fc['content'].invalid"
                    class="alert alert-danger"
                  >
                    Content is required
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center btn-submit">
          <button [disabled]="postForm.invalid" class="btn btn-info bg-theme">
            Save Post
          </button>
          <button class="btn-back-post btn btn-warning" routerLink="/posts">
            Back to Post
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
